<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hw69</title>
</head>
<body>
<input id="first" type="text" placeholder="Введите первое число"><br>
<input id="second" type="text" placeholder="Введите второе число">
<div>
    <a href="{% url 'webapp:add' %}" id="add" style="text-decoration: none;color: black" class="btn" data-action="add">add</a>
    <a href="{% url 'webapp:subtract' %}" id="subtract" style="text-decoration: none;color: black" class="btn"
       data-action="subtract">subtract</a>
    <a href="{% url 'webapp:multiply' %}" id="multiply" style="text-decoration: none;color: black" class="btn"
       data-action="multiply">multiply</a>
    <a href="{% url 'webapp:divide' %}" id="divide" style="text-decoration: none;color: black" class="btn"
       data-action="divide">divide</a>

{#    <button id="subtract" class="btn" data-action="subtract">subtract</button>#}
{#    <button id="multiply" class="btn" data-action="multiply">multiply</button>#}
{#    <button id="divide" class="btn" data-action="divide">divide</button>#}
</div>
<div>Result</div>
<p id="p_answer">Answer:</p>


<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    async function getResult(event) {
        event.preventDefault()
        let url = await event.target.href
        let first = document.getElementById('first')
        let second = document.getElementById('second')
        let a = first.value
        let b = second.value
        console.log(a, b)
        let body={
            "a":a,
            "b":b
        }
        let response = await makeRequest(url,body)

        let p = document.getElementById('p_answer')
        p.style = 'color:green'
        p.innerText = response.answer
    }

    let btnList = document.getElementsByClassName('btn')
    for (let i = 0; i < btnList.length; i++)
        btnList[i].addEventListener('click', () => getResult(event))
    {#let btnAdd=document.getElementById('add')#}
    {#btnAdd.addEventListener('click',()=>getResult(event))#}
    {##}
    {#let btnSubtract=document.getElementById('subtract')#}
    {#btnSubtract.addEventListener('click',()=>getResult(event))#}
    {##}
    {#let btnMultiply=document.getElementById('multiply')#}
    {#btnMultiply.addEventListener('click',()=>getResult(event))#}
    {##}
    {#let btnDivide=document.getElementById('divide')#}
    {#btnDivide.addEventListener('click',()=>getResult(event))#}

    async function makeRequest(url, body) {
        let response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify(body),

            mode: 'same-origin'
        });

        if (response.ok) {  // нормальный ответ
            return await response.json();
        } else {            // ошибка
            let p = document.getElementById('p_answer')
            p.style = 'color:red'
            let error = await response.json()
            p.innerText = error.error
            console.log(await response.json())
        }
    }


</script>
</body>
</html>