<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hw69</title>
</head>
<body>
    <input id="first" type="text" placeholder="Введите первое число"><br>
    <input id="second" type="text" placeholder="Введите второе число">
    <div>
        <button id="add" class="btn">add</button>
        <button id="subtract" class="btn">subtract</button>
        <button id="multiply" class="btn">multiply</button>
        <button id="divide" class="btn">divide</button>
    </div>
<div>Result</div>
<p id="p_answer">Answer:</p>



<script>
    console.log('TEEEST!!!!!')
    async function getResult(url)
    {
        let first=document.getElementById('first')
        let second=document.getElementById('second')
        let a=first.value
        let b=second.value
        let response =  await makeRequest(`http://localhost:8000/${url}/?a=${a}&b=${b}`)
        let p=document.getElementById('p_answer')
        p.style='color:green'
        p.innerText=response.answer
    }
    let btnAdd=document.getElementById('add')
    btnAdd.addEventListener('click',()=>getResult('add'))

    let btnSubtract=document.getElementById('subtract')
    btnSubtract.addEventListener('click',()=>getResult('subtract'))

    let btnMultiply=document.getElementById('multiply')
    btnMultiply.addEventListener('click',()=>getResult('multiply'))

    let btnDivide=document.getElementById('divide')
    btnDivide.addEventListener('click',()=>getResult('divide'))

    async function makeRequest(url, method='GET') {
        let response = await fetch(url, {method});

        if (response.ok) {  // нормальный ответ
            return await response.json();
        }
        else {            // ошибка
            {#let error = new Error(response.statusText);#}
            {#error.response = response;#}
            {#throw error;#}
            let p=document.getElementById('p_answer')
            p.style='color:red'
            let error=await response.json()
            p.innerText=error.error
            console.log(await response.json())
        }
    }


</script>
</body>
</html>